// Imports
@import url('https://rsms.me/inter/inter.css');
@import 'normalize.css';
@import '~antd/dist/antd.css';
// ===

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  font-family: 'Inter', serif;
  font-size: 12px;

  background-color: #ebeef3;
}

:root {
  --heading-color: rgba(0, 0, 0, 0.85);
  --text-color: rgba(0, 0, 0, 0.75);
  --text-color-secondary: rgba(0, 0, 0, 0.5);
  --disabled-color: rgba(0, 0, 0, 0.35);
  --dividers: rgba(0, 0, 0, 0.09);
  --background: #ebeef3;
  --table-header: rgba(0, 0, 0, 0.02);
  --primary-color: #1890ff;
  --info-color: #1890ff;
  --success-color: #52c41a;
  --processing-color: #1890ff;
  --error-color: #f5222d;
  --highlight-color: #f5222d;
  --warning-color: #faad14;
  --normal-color: #d9d9d9;
  --disabled-color-dark: rgba(255, 255, 255, 0.35);
  --background-color-base: #ffffff;
  --border-color-base: #d9d9d9;
  --btn-primary-color: #ffffff;
  --color-gray: #262626;
  --color-gray-4: #e8e8e8;
  --color-gray-5: rgba(217, 217, 217, 1);
  --color-gray-7: #8c8c8c;
  --color-gray-8: #595959;
}

// Ant restyle
.ant-pagination-item-active {
  background: #1890ff;
  border-radius: 4px;
}

.ant-pagination-item-active a {
  color: #fff;
}

.spinner {
  text-align: center;
}

.ant-tag {
  white-space: normal;
}

.ant-popconfirm {
  top: 188px !important;
  width: 240px;
}

.ant-popover-inner {
  border-radius: 4px;
}

.ant-popover-message-title {
  color: var(--color-gray-8);
}
