.wrapper {
  margin-top: 70px;
}

.title {
  font-size: 40px;
  margin: 0;
}

.desc {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  padding: 5px 10px;
  display: inline-block;
  font-size: 17px;
  border-radius: 4px;
  color: white;
  background-color: #1890ff;
  transition: all 0.2s linear;

  &:hover {
    color: #1890ff;
    background-color: white;
  }
}
