@import '../../styles/variables';

.article {
  padding: 15px;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.body {
  margin-top: 20px;
  line-height: 28px;
}
